/* PHASE 0: Sidebar */

 .div-content {
    display: block;
    position: relative;
    bottom: 100px;
 }

.profile-picture {
    display: block;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    
 }

 .profile-info{
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
 }

 .profile-nav li {
    border-bottom: 1px solid grey;
    text-decoration: solid;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
 }

 .profile-nav li:hover {
    background-color: gray;
 }

 .online {
    position: absolute;
    z-index: 1;
    border-bottom: 25px solid green;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
    width: 80px;
    transform: rotate(-45deg);
    top: 20px;
    right: 98px;
    color: honeydew;
 }

.online .text {
    position: relative;
    left: 12px;
    top: 2.5px;
}

